.about {
   width: 100vw;

   &__title {
      width: 8rem;
      text-align: center;
      font-size: 2rem;
      margin: 12rem auto 8rem;
   }

   &__description {
      width: 1024px;
      margin: 0.2rem auto;
   }
}
