.about {
   width: 100%;
   min-height: 100vh;
   opacity: 0;
   animation: appear-about 0.7s forwards;
   letter-spacing: 1px;
   line-height: 1.6;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background: url(../../assets/style-images/gear-man.svg) no-repeat 50% 8rem;
   background-size: 1100px;

   &__title {
      text-align: center;
      font-size: 2rem;
      margin: 0 auto 8rem;
      padding-top: 12rem;

      @media (min-width: 800px) {
         margin: 0 auto 10rem;
      }
   }

   &__description {
      max-width: 1024px;
      margin: 0.2rem 0.5rem 5rem;
      background-color: #8a817c;
      padding: 1rem;

      @media (min-width: 550px) {
         box-shadow: 3px 2px 4px #463f3a;
      }

      p {
         margin: 0 0.5rem;
         font-size: 18px;
         color: #f4f3ee;

         @media (min-width: 1024px) and (max-width: 1130px) {
            margin: 0 3.5rem;
         }
      }
   }

   &__gear-wrapper {
      margin: 1rem;

      .about__gear {
         width: 6rem;
         height: 6rem;
         opacity: 0;
         animation: spin-about 7s infinite linear, appear-about 2s forwards;
      }
   }
}

@keyframes appear-about {
   to {
      opacity: 1;
   }
}

@keyframes spin-about {
   100% {
      transform: rotate(360deg);
   }
}
