.technologies {
   width: 100%;
   min-height: 100vh;
   opacity: 0;
   animation: appear-technologies 0.7s forwards;
   letter-spacing: 1px;
   line-height: 1.6;
   background: url(../../assets/style-images/gear-inner.svg) no-repeat 50% -4rem;
   background-size: 1100px;

   &__title {
      text-align: center;
      font-size: 2rem;
      margin: 0 auto 4rem;
      padding-top: 12rem;
   }

   &__description {
      text-align: center;
      margin: 0 0.5rem 3rem;
   }

   &__elements {
      max-width: 1024px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto 2rem;

      .technologies__main,
      .technologies__tool,
      .technologies__methodology {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
      }
   }
}

@keyframes appear-technologies {
   to {
      opacity: 1;
   }
}
