.home {
   height: 100vh;
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background: url(../../assets/style-images/gear2.svg) no-repeat 50% 50%;
   background-size: 1100px;
   opacity: 0;
   animation: appear 1s forwards;

   &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .home__title {
         display: flex;
         flex-direction: column;
         align-items: center;
         opacity: 0;
         animation: appear 0.7s forwards;
         font-size: 20px;
         margin: 0.5rem;
      }

      .home__gear {
         width: 6rem;
         height: 6rem;
         opacity: 0;
         margin-bottom: 2rem;
         animation: spin 7s infinite linear, appear 2s forwards;
      }

      .home__gear:last-child {
         width: 3rem;
         height: 3rem;
         opacity: 0;
         margin-top: 3rem;
         animation: spin-back 3s infinite linear, appear 2s forwards;
      }
   }
}

@media (min-width: 700px) {
   .home {
      .home__wrapper {
         flex-direction: row;
      }

      .home__title {
         font-size: 28px;
         margin: 1.5rem;
      }

      .home__gear:last-child {
         margin: auto;
      }

      .home__gear {
         margin: auto;
      }
   }
}

@keyframes appear {
   to {
      opacity: 1;
   }
}

@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}

@keyframes spin-back {
   100% {
      transform: rotate(-360deg);
   }
}
