.home {
   min-height: 100vh;
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background: url(../../assets/style-images/gear2.svg) no-repeat 50% 50%;
   background-size: 1100px;
   opacity: 0;
   animation: appear 1s forwards;
   // text-shadow: 2px 2px 1px #9e9c91;
   // font-weight: bold;

   &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .home__title {
         display: flex;
         flex-direction: column;
         align-items: center;
         opacity: 0;
         animation: appear 0.7s forwards;
         font-size: 20px;
         margin: 2rem 0.5rem 3rem;
      }

      .home__name-wrapper {
         display: flex;

         .home__greet {
            transform: translateY(-2rem);
            animation: fall 0.4s 0.3s forwards;
         }

         .home__name {
            margin-left: 0.4rem;
            transform: translateY(-2rem);
            animation: fall 0.4s 0.8s forwards;

            span {
               font-weight: bold;
            }
         }
      }

      .home__who {
         margin-top: 0.5rem;
         animation: scale-big 0.4s 1.2s forwards;
      }

      .home__gear {
         width: 6rem;
         height: 6rem;
         opacity: 0;
         animation: spin 7s infinite linear, appear 2s forwards;
      }

      .home__gear:last-child {
         width: 3rem;
         height: 3rem;
         opacity: 0;
         animation: spin-back 3s infinite linear, appear 2s forwards;
      }
   }
}

@media (min-width: 700px) {
   .home {
      .home__wrapper {
         flex-direction: row;
      }

      .home__title {
         font-size: 28px;
         margin: 1.5rem;
      }
   }
}

@keyframes appear {
   to {
      opacity: 1;
   }
}

@keyframes fall {
   50% {
      transform: translateY(0rem) scale(1.1);
   }

   100% {
      transform: translateY(0rem);
   }
}

@keyframes scale-big {
   50% {
      transform: scale(1.07);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}

@keyframes spin-back {
   100% {
      transform: rotate(-360deg);
   }
}
