.header {
   height: 5rem;
   width: 100%;
   position: fixed;
   z-index: 2;

   &__contact {
      max-width: 1024px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      border-bottom: 1px solid #000;
      background-color: #fff;
   }

   &__contact-icons {
      width: 9rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .header__contact-link:hover {
         transform: scale(1.1);
      }

      .header__contact-link > img {
         height: 2rem;
         width: 2rem;
      }
   }

   &__name {
      font-size: 15px;
      margin: 0.5rem 0.5rem;
      transition: font-size 1s;
      display: flex;
   }

   &__last-name {
      margin-left: 0.3rem;
   }

   &__first-name::first-letter,
   &__last-name::first-letter {
      font-size: 22px;
   }

   @media (min-width: 600px) {
      &__name {
         font-size: 22px;
         font-weight: normal;
      }
   }
}
