.projects {
   width: 100%;
   opacity: 0;
   animation: appear-projects 0.7s forwards;
   letter-spacing: 1px;
   line-height: 1.6;
   overflow: hidden;
   background: url(../../assets/style-images/gear-work.svg) no-repeat 50% 6rem;
   background-size: 1100px;

   &__title {
      text-align: center;
      font-size: 2rem;
      margin: 0 auto 8rem;
      padding-top: 12rem;
   }
}

@keyframes appear-projects {
   to {
      opacity: 1;
   }
}
