@font-face {
   font-family: "Montserrat";
   src: local("Montserrat"), url(./fonts/Montserrat//Montserrat-Regular.ttf) format("truetype");
}

html {
   overflow-y: scroll;
}

body {
   margin: 0;
   font-family: Montserrat -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-image: linear-gradient(to right, #f4f3ee, #f4f3ee 100%);
}

@media (min-width: 1024px) {
   body {
      background-image: linear-gradient(
         to right,
         #463f3a,
         #463f3a 5%,
         #8a817c 5%,
         #8a817c 15%,
         #bcb8b1 15%,
         #bcb8b1 30%,
         #f4f3ee 30%
      );
   }
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
